   body {
            font-family: 'Maven Pro', sans-serif;
            font-size:1em;
    text-align: center;

}
footer {
    background-color:#2196F3;
    color:white;
    margin:5em 0 0 0;
    float:left;
    }
    h2 {
        color:white;
    }
.bordesRedondeados {
    border-radius:6px;
}
.espacioderecho {

}